.carousel {
    display: none;
    }
.portada {
    background-color: map-get($colores, color-principal);
    height: 80vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.4),
        rgba(0,0,0,0.4)
        ), url(../imagenes/portada-3.jpg);
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
.portada__titulo {
    border-top: $borde-caja-claro;
    border-bottom: $borde-caja-claro;
    text-align: center;
    margin: 0 1rem;
    &__span{
        color: map-get($colores, color-secundario);
        font-weight: 600;
    }
    &__h2 {
        color: white;
        font-size: 2.5rem;
    }
}
.informacion {
    background-color: map-get($colores, fondo-claro);
    padding-bottom: $relleno-caja;
    &__introduccion__titulo {
        margin-top: 2rem;
        margin-bottom: 2rem;
    }
}
.col {
    text-align: center;
}
.estandares {
    @include seccion(map-get($colores, color-principal), white);
    &__contenido__img {
        margin: 3rem 0 2rem;
        width: 5rem;
    }
}
.estandares-claro {
    @include seccion(map-get($colores, fondo-claro), black)
}
.pagos {
    @include seccion(map-get($colores, fondo-secundario), white);
    &__texto {
        margin-top: 1rem;
    }
}
@media screen and (min-width: 768px) {
    .portada {
        display: none;
    }
    .carousel {
        display: block;
    }
}