/* font-family: 'Inter', sans-serif;
font-family: 'Quicksand', sans-serif; */

* {
    padding: 0;
    margin: 0;
}
body {
    font-family: 'Quicksand', sans-serif;
}
h1 {
    font-size: 3rem;
    font-family: 'Inter', sans-serif;
}
h2 {
    font-size: 2rem;
    color: rgb(227, 18, 18);
}
h3 {
    font-size: 1.5rem;
    color: rgb(227, 18, 18);
    margin-bottom: 1rem;
}
p {
    font-size: 1rem;
}
ul {
    list-style: none;
}
li {
    list-style: none;
}
a {
    text-decoration: none;
}

/* aca empieza index.html */

.carousel {
    display: none;
}
.portada {
    background-color: rgb(35, 35, 35);
    height: 80vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.4),
        rgba(0,0,0,0.4)
        ), url(./imagenes/portada-3.jpg);
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
.nav-link {
    color: white;
}
.sticky-top {
    background-color: rgb(35, 35, 35);
    border-bottom: 3.2px solid rgb(227, 18, 18);
}
.encabezado__logo {
    width: 70px;
}
.portada__titulo {
    border-top: solid 3px white;
    border-bottom: solid 3px white;
    text-align: center;
    margin: 0 1rem;
}
.portada__titulo__span {
    color: rgb(227, 18, 18);
    font-weight: 600;
}
.portada__titulo__h2 {
    color: rgb(244, 244, 244);
    font-size: 2.5rem;
}
.col {
    text-align: center;
}
.informacion {
    background-color: rgb(244, 244, 244);
    padding-bottom: 2rem;
}
.informacion__introduccion__titulo {
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.estandares {
    background-color: rgb(35, 35, 35);
    padding-top: 2rem;
    padding-bottom: 2rem;
    text-align: center;
    color: white;
}
.blanco {
    background-color: rgb(240, 240, 240);
    color: black;
}
.estandares__contenido__img {
    margin: 3rem 0 2rem;
    width: 5rem;
}
footer {
    background-color: rgb(35, 35, 35);
    border-top: 3.2px solid rgb(227, 18, 18);
    color: white;
    text-align: center;
    padding-top: 1rem;
}
.pie-navegacion {
    display: none;
}
.pie-redes__lista {
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
    padding: 0;
}
.bi {
    width: 2rem;
    height: 2rem;
    margin: 0 5px;
    color: white;
}
.copyright {
    background-color: rgb(35, 35, 35);
    border-top: 3.2px solid rgb(227, 18, 18);
    color: white;
    padding: 8px 0 8px;
}

/* Aca empieza sobre-nosotros.html */

.pagina-h1 {
    text-align: center;
    margin: 1rem 0 3rem;
}
.historia__local__img {
    width: 100%;
    border-radius: 1rem 1rem 0 0;
}
.tarjeta {
    max-width: 400px;
    margin: 0 auto 4rem;
    background-color: rgb(244, 244, 244);
    text-align: center;
    border-radius: 1rem;
    box-shadow: 5px 5px 20px;
}
.pronto {
    width: 100%;
    border-radius: 1rem 1rem 0 0;
}
.historia__local__h2 {
    border-bottom: 2px solid rgb(205, 189, 189);
    padding-bottom: 10px;
}
.historia__local__texto{
    padding-bottom: 1rem;
}
.co-titulo {
    margin-bottom: 2rem;
}
.co-titulo h2 {
    color: black;
}

/* aca empieza nuestros-servicios.html */


.pagina-texto {
    text-align: center;
    margin: 0 1rem 3rem;
}
.servicio__img {
    width: 100%;
    border-radius: 1rem 1rem 0 0;
}
.boton {
    text-decoration: none;
    background-color: rgb(225, 50, 50);
    font-size: 1.5rem;
    padding: 5px;
    border: solid 1px black;
    color: white;
    border-radius: 7px;
}
.servicio__h3 {
    margin-top: 10px;
    margin-bottom: 5px;
}
.tarjeta > p{
    margin: 0 1rem 2rem;
}
.boton-link{
    padding-bottom: 2rem;
}

/* aca empieza preguntas-frecuentes.html */

.frecuentes {
    justify-content: center;
}
.accordion-button {
    border: rgb(230, 230, 230) solid 1px;
    font-size: 1.5rem;
}
.accordion-button:not(.collapsed) {
    background-color: rgb(250, 250 , 250);
    color: rgb(225, 50, 50);
}
.accordion-button:focus {
    border: 1px solid rgb(250, 173, 173);
    box-shadow: none;
}
.accordion-item {
    background-color: rgb(240, 240, 240);
    margin-bottom: 2rem;
}
.pagina-texto p > a {
    text-decoration: none;
    font-weight: 600;
    color: black
}


/* aca empieza contacto.html */

.formulario__contacto {
    background-color: rgb(244, 244, 244);
    max-width: 400px;
    border: black solid 1px;
    border-radius: 10px;
    box-shadow: 5px 5px 20px;
    padding: 2rem;
    margin: 0 auto 4rem;
}
.inputs {
    background-color: rgb(244, 244, 244);
    width: 100%;
    padding: 7px;
    border-radius: 5px;
    margin-bottom: 2rem;
    border: black solid 1px;
}
.boton-centrado {
    margin-top: 2rem;
    text-align: center;
}
.mapa-contacto {
    text-align: center;
}
.iframe {
    margin: 0 auto 2rem;
    background-color: rgb(244, 244, 244);
    border: black solid 1px;
    border-radius: 10px;
    box-shadow: 5px 5px 20px;
}

/* aca empieza los media querie */

@media screen and (min-width: 768px) {
    .portada {
        display: none;
    }
    .carousel {
        display: block;
    }
}

@media screen and (min-width: 1024px) {
    p {
        font-size: 1.2rem;
    }

    /* media querie para index.html */
    .encabezado__logo {
        width: 7rem;
    }
    .collapse {
        justify-content: flex-end;
    }
    .nav-item{
        margin-right: 8px;
    }
    .nav-link:hover {
        color: rgb(225, 50, 50);
    }
    .dropdown-item:hover {
        color: rgb(225, 50, 50);
    }
    .pie-navegacion{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .pie-navegacion__lista {
        padding: 0;
    }
    .pie-navegacion__lista__item a{
        font-size: 1.2rem;
        color: white;
    }
    .pie-navegacion__lista__item a:hover {
        color: rgb(225, 50, 50);
    }

    /* media querie para sobre-nosotros.html */

    .historia__local {
        display: flex;
        text-align: left;
    }
    .tarjeta {
        max-width: 1000px;
        transition: all 1.5s;
    }
    .tarjeta:hover {
        transform: scale(1.2);
    }
    .historia__local__img{
        width:50%;
        border-radius: 1rem 0 0 1rem;
    }
    .historia-texto{
        margin: 1rem 1rem;
    }
    .derecha {
        flex-direction: row-reverse;
    }
    .img-der {
        border-radius: 0 1rem 1rem 0;
    }
    .pronto{
        width: 50%;
        border-radius: 1rem 0 0 1rem;
    }

    /* media querie para nuestros-servicios.html */

    .tar-serv{
        max-width: 320px;
    }
    .pagina-texto {
        margin: 0 3rem 3rem;
    }
    .boton:hover{
        background-color: rgb(227, 18, 18);
        color: white;
    }

    /* media querie para preguntas-frecuentes.html */

    .pagina-texto a:hover {
        color: rgb(225, 50, 50);
    }
    
    /* media querie para contacto.html */

    .iframe { height: 497px;}
}