$color-principal: rgb(35, 35, 35);
$color-secundario: rgb(227, 18, 18);
$fondo-claro: rgb(244, 244, 244);
$borde-caja-principal: 3.2px solid rgb(227, 18, 18);
$borde-caja-claro: 3px solid white;
$relleno-caja: 2rem;